<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hi there! I am a software developer who values continuous growth and development, 
                both personally and professionally. 
            </p>
            <p class="paragraph-text justify-text">
                I like you.
            </p>

            <div class="head-buttons">
                <button class="head-button hire-me-button" href="#extra">HIRE ME</button>
                <button class="head-button" onclick="window.open('{{ site.cv }}', '_blank')">GET RESUME</button>
            </div>
        </div>
    </section>
</div>
