<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">CERTIFICATIONS</div>
            <div class="carousel-wrap">
                <div class="owl-carousel owl-theme">
                    <div class="carousel-item">
                        <img src="../assets/images/certs/microsoft-certified-azure-fundamentals.png" class="cert-pic">
                        <div class="cert-description">Issued October 10, 2022</div>
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/images/certs/aws-certified-cloud-practitioner.png" class="cert-pic">
                        <div class="cert-description">Issued December 11, 2022</div>
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/images/certs/python_essentials.png" class="cert-pic">
                        <div class="cert-description">Issued January 02, 2023</div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>