
<div class="section-wrapper contact-wrapper">
    <section class="section contact" id="contact">
        <div>
            <div class="section-heading" id="chat-text">CONTACT</div>
            <p class="paragraph-text center-align">
                I'd love to hear from you! I'm open to collaborations, especially on open source projects. Interesting work opportunity? Shoot.
                Please feel free to send me a message to me for anything. It might take me a couple days to get back, but rest assured, you'll hear from me.
            </p>

            <div class="contact-title">MESSAGE</div>
            <form class="contact-form" action="https://airform.io/kajprintz@gmail.com" method="post">
                <input class="contact-name contact-input" type="text" name="name" placeholder="NAME">
                <textarea class="contact-message contact-input" name="message" placeholder="MESSAGE"></textarea>
                <button class="contact-button">SEND MESSAGE</button>
            </form>

            <div class="contact-links">
                <span class="hint--bottom contact-link" aria-label="Email">
                    <div class="contact-link-wrapper">
                        <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope" target="_blank"></i></a>
                    </div>
                </span>
                <span class="hint--bottom contact-link" aria-label="Linkedin">
                    <div class="contact-link-wrapper">
                        <a href="https://dk.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="head-icon fab fa-linkedin"></i></a>
                    </div>
                </span>
                <span class="hint--bottom contact-link" aria-label="GitHub">
                    <div class="contact-link-wrapper">
                        <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="head-icon fab fa-github"></i></a>
                    </div>
                </span>
            </div>
        </div>
    </section>
</div>
