
<div class="section-wrapper contact-wrapper">
    <section class="section contact" id="contact">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                Please feel free to send me a message to me for anything. It might take me a couple days to get back, but rest assured, you'll hear from me.
            </p>

            <div class="contact-title">MESSAGE</div>
            <form class="contact-form" action="https://airform.io/kajprintz@gmail.com" method="post">
                <input class="contact-name contact-input" type="text" name="name" placeholder="NAME">
                <textarea class="contact-message contact-input" name="message" placeholder="MESSAGE"></textarea>
                <button class="contact-button">SEND MESSAGE</button>
            </form>

        </div>
    </section>
</div>
