
<section class="hero">
    <div class="hero-inner-wrap">
        <div class="profile-pic-div animated">
            <a class="profile-pic-link"><img src="{{ site.profile_picture }}" class="profile-pic"/></a>
        </div>
        <div class="hero-name hero-title animated" id="hero-name">{{ site.title }}</div>
        <div class="hero-punchline animated">{{ site.description }}</div>

        <div class="hero-about animated">
            Hi there! I am a software developer who values continuous growth and development, 
            both personally and professionally. 
        </div>
        <div class="hero-buttons animated">
            <button class="hero-button hire-me-button" href="#extra">CONTACT ME</button>
            <button class="hero-button" onclick="window.open('{{ site.cv }}', '_blank')">DOWNLOAD CV</button>
        </div>

    </div>

</section>
