
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Technical Skills</div>
                <div class="what-i-do">
                    <p class="paragraph-text center-align">
                        I'm a web & backend engineer fluent in modern web development. I have a big passion for developing high quality software that stands the test of time. With 3 years of experience with cloud & CI/CD technologies, hereunder, AWS & Azure I know the full lifecycle of a program from coding to testing, deployment and maintenance.
                    </p>
                </div>
            <div class="skills-grid">
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Certifications</h3>
                    <div class="badges">
                        <a href="https://www.credly.com/badges/4c73729a-a2a3-43c6-bea7-16199eb7caee/public_url"><img src="../assets/images/certs/microsoft-certified-azure-fundamentals.png" class="cert-pic"/></a>
                        <a href="https://www.credly.com/badges/1e7742a0-13df-4563-986a-8a8ffd710a1b/public_url"><img src="../assets/images/certs/aws-certified-cloud-practitioner.png" class="cert-pic"/></a>
                        <a href="https://www.credly.com/badges/d1733c11-b51e-44f4-b3bc-6cd425482e3e/public_url"><img src="../assets/images/certs/python_essentials.png" class="cert-pic"/></a>
                    </div>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technologies</h3>
                    <div class="progress-bars">
                        <div class="skill-card">C#/.net</div>
                        <div class="skill-card">Python</div>
                        <div class="skill-card">PHP</div>
                        <div class="skill-card">Java</div>
                        <div class="skill-card">Docker</div>
                        <div class="skill-card">GNU/Linux</div>
                        <div class="skill-card">Angular</div>
                        <div class="skill-card">C#/.net</div>
                        <div class="skill-card">React</div>
                        


                        <!-- <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>C#/.net</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> 

                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>  

                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>PHP</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> 

                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Java</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> 

                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Docker</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> 
                        
                        <div class="skillbar clearfix " data-percent="95%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>GNU/Linux</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> 
   
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Angular</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> 

                        <div class="skillbar clearfix " data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>React</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div>  -->

                </div>
            </div>
        </div>
    </section>
</div>