
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">TECHNICAL SKILLS</div>
                <div class="what-i-do">
                    <p class="paragraph-text center-align">
                        I'm a web & backend engineer fluent in modern web development. I have a big passion for developing high quality software that stands the test of time. With 3 years of experience with cloud & CI/CD technologies, hereunder, AWS & Azure I know the full lifecycle of a program from coding to testing, deployment and maintenance.
                    </p>
                </div>
                <div class="technical-skills">
                    <div class="technical-skills-grid">
                        <div class="skill-card skill-card-hover" data-description="With 4 years of professional experience in PHP, I have honed my skills and gained a deep understanding of this language.">
                            <i class="fa-brands fa-php"></i>  PHP</div>
                        <div class="skill-card" data-description="Python is my favorite language due to its mature libraries and the ability to quickly develop and prototype ideas.">
                            <i class="fa-brands fa-python"></i>  Python</div>
                        <div class="skill-card" data-description="I have experience with C# and ASP.NET, including working on various backend services.">
                                <i class="fa-brands fa-windows"></i>  C#/.net</div>
                        <div class="skill-card">
                            <i class="fa-brands fa-java"></i>  Java</div>
                        <div class="skill-card">
                            <i class="fa-brands fa-docker"></i>  Docker</div>
                        <div class="skill-card">
                            <i class="fa-brands fa-aws"></i>  AWS</div>
                        <div class="skill-card">
                            <i class="fab fa-microsoft"></i>  Azure</div>
                        <div class="skill-card">
                            <i class="fa-brands fa-linux"></i>  Linux</div>
                        <div class="skill-card">
                            <i class="fa-brands fa-angular"></i>  Angular</div>
                    </div>
                    <div class="skill-description-container">
                        <div class="skill-description"></div>
                    </div>
            </div>
        </div>
    </section>
</div>