
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Technical Skills</div>
                <div class="what-i-do">
                    <p class="paragraph-text center-align">
                        I'm a web & backend engineer fluent in modern web development. I have a big passion for developing high quality software that stands the test of time. With 3 years of experience with cloud & CI/CD technologies, hereunder, AWS & Azure I know the full lifecycle of a program from coding to testing, deployment and maintenance.
                    </p>
                </div>
            <div class="skills-grid">
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Certifications</h3>
                    <div class="badges">
                        <a href="https://www.credly.com/badges/4c73729a-a2a3-43c6-bea7-16199eb7caee/public_url" target="_blank"><img src="../assets/images/certs/microsoft-certified-azure-fundamentals.png" class="cert-pic"/></a>
                        <a href="https://www.credly.com/badges/1e7742a0-13df-4563-986a-8a8ffd710a1b/public_url" target="_blank"><img src="../assets/images/certs/aws-certified-cloud-practitioner.png" class="cert-pic"/></a>
                        <a href="https://www.credly.com/badges/d1733c11-b51e-44f4-b3bc-6cd425482e3e/public_url" target="_blank"><img src="../assets/images/certs/python_essentials.png" class="cert-pic"/></a>
                    </div>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection technologies">Technologies</h3>
                    <div class="progress-bars">
                        <div class="skill-card skill-card-hover" data-description="With 4 years of professional experience in PHP, I have honed my skills and gained a deep understanding of this powerful programming languag.">
                            <i class="fa-brands fa-php"></i>  PHP</div>
                        <div class="skill-card" data-description="Python is my favorite language due to its mature libraries and the ability to quickly develop and prototype ideas.">
                            <i class="fa-brands fa-python"></i>  Python</div>
                        <div class="skill-card" data-description="I have experience with C# and ASP.NET, including working on various backend services.">
                                <i class="fa-brands fa-windows"></i>  C#/.net</div>
                        <div class="skill-card">
                            <i class="fa-brands fa-java"></i>  Java</div>
                        <div class="skill-card">
                            <i class="fa-brands fa-docker"></i>  Docker</div>
                        <div class="skill-card">
                            <i class="fa-brands fa-aws"></i>  AWS</div>
                        <div class="skill-card">
                            <i class="fab fa-microsoft"></i>  Azure</div>
                        <div class="skill-card">
                            <i class="fa-brands fa-linux"></i>  Linux</div>
                        <div class="skill-card">
                            <i class="fa-brands fa-angular"></i>  Angular</div>
                        <div class="skill-card">
                            <i class="fa-brands fa-react"></i>  React</div>
                    </div>
                    <div class="skill-description-container">
                        <div class="skill-description"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>