body {
  min-width: 360px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  background-color: #f5f7f3;;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.hero {
  background: #ABD6DFFF;
  color: rgb(73, 80, 88);
  min-height: 40vh;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.hero-title {
  display: block;
  -webkit-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s;
  font-size: 40px;
  font-size: 2.4rem;
  text-align: center;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.hero-about {
  max-width: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  display: block;
  text-align: center;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.hero-buttons > * {
  margin-left: 10px;
  margin-right: 10px;
}

/* CSS */
.hero-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  padding: 6px 16px;
  width: 160px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.hero-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.hero-button:hover {
  background-color: #2c974b;
}

.hero-button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.hero-button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.hero-button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.animated {
  -webkit-animation: fade-in-down 0.6s;
          animation: fade-in-down 0.6s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;    
}

@-webkit-keyframes fade-in-down {
	0% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
  }
	100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
	0% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
  }
	100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hero-punchline {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  text-align: center;
  /* color: rgba(255, 255, 255, 0); */
  margin-top: 5px;
  font-size: 16px;
  font-size: 1.1rem;
  font-weight: bold;
}

.hero-icon {
  font-size: 32px;
  font-size: 2rem;  
  margin: 0 5px;
}

.hero-menu-wrap {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);

  display: -ms-grid;

  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-column-gap: 10px;
  
  margin: 0 auto;
}


.justify-text {
  text-align: justify;
}

.technical-skills-grid {
  padding-right: 15px;
  margin-top: 20px;
  overflow-y: auto;
  min-height: fit-content;
  max-height: 255px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2px;
  padding: 10px;
}

.skills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.technical-skills {
  width: 90%;
  margin: 0 auto;
}

.technologies {
  margin-left: -15px;
}


.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center-align {
  text-align: center;
}

.projects-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.section {
  max-width: 768px;
  margin: 60px auto;
  padding: 20px 0;
  min-height: 40vh;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section.skills > div {
  width: 100%;
}

.skills-subsection {
  font-size: 20.8px;
  font-size: 1.3rem;
}

.section-heading {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-size: 2.5rem;
  color: #222;
  font-weight: bold;
}

.paragraph-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 20.8px;
  font-size: 1.3rem;
  margin: 30px auto;
  color: #404040;
}

.paragraph-text-normal {
  font-family: 'PT Sans', sans-serif;
  color: #404040;
}

.pt-sans-font {
  font-family: 'PT Sans', sans-serif;
}

.skill-grid-item {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-auto-rows: auto;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 65px;
  color: #fff;
  font-size: small;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  background-color: rgb(54, 54, 54);
}

.footer-text a {
  color: inherit;
}

.technologies-grid-item {
  width: 96.6666px;
  height: 96.6666px;
  background-color: #fff;
}

.project-card {
  padding: 10px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  color: #222;
}

.project-title {
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: Arial, sans-serif;
  margin: 10px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-link {
  margin: 10px 0;
  float: right;
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem;
}

.project-tags {
  margin: 20px 0;
}

.project-tag-item {
  background-color: #444;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}

.post-date {
  float: right;
}

.blog-item {
  padding: 10px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.blog-title {
  font-size: 17.6px;
  font-size: 1.1rem;
  color: inherit;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.more-blogs {
  font-size: 16px;
  font-size: 1rem;
  margin: 15px 0 20px;
}

.slightly-smaller-text {
  font-size: 14.4px;
  font-size: 0.9rem;
}

.extra {
  margin-bottom: 0px;
}

.experience-title {
  font-size: 22.4px;
  font-size: 1.4rem;
  font-weight: bold;
}

.profile-pic {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 3px 0.5px #8d8d8d;
  margin-top: 25px; 
  border: solid 9px white;
  user-select: none;
}

.profile-pic:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 0px 16px 0 rgba(255,255,255,0.5);
}

.profile-pic-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  user-select: none;
}

.experience-details {
  font-size: 20.8px;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience-date {
  float: right;
  font-size: 17.6px;
  font-size: 1.1rem;
}

a {
  color: #222;
}


.head-inner-wrap {
  
}

.project-technologies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin: 20px 0;
  grid-gap: 5px;
  grid-row-gap: 10px;
  width: 100%;
}

.project-technology {
  border: 1px solid #222;
  border-radius: 2px;
  margin: 0 5px;
  padding: 3px 5px;
}

.project-technology:first-child {
  margin-left: 0px;
}

.project-technology:last-child {
  margin-right: 0px;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}