.skill-card {
    background: rgb(52, 152, 219);
    border: 2px solid rgb(49, 130, 184);
    text-align: center;
    width: 31%;
    height: 50px;
    border-radius: 5px;
    color: white;
    line-height: 50px;
    margin: 0.5%;
    font-family: 'PT Sans', sans-serif;
}