/* Here follow all the media queries */
@media screen and (max-width: 850px) {

    .section {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 775px) {
    .project-technologies {
        -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 20px auto;
    }
}

@media screen and (max-width: 600px) {

    .hero-menu-wrap {
        -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width: 80%;
    }

    .hero {
        min-height: 100vh;
    }

    .hero-title {
        display: block;
        text-align: center;
        font-size: 1.85rem;
    }

    .profile-pic {
        width: 240px;
        height: 240px;
    }

    .hero-punchline {
        text-align: center;
        font-size: 16px;
        font-size: 0.9rem;
    }

    .skills-grid {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    }

    .set-size {
        font-size: 8em;
    }

    .pie-wrapper .label {
        font-size: 0.9rem;
        top: 3rem;
    }

    .projects-grid {
        -ms-grid-columns: auto;
        grid-template-columns: auto;
    }

    .projects-wrapper {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-gap: 10px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media screen and (max-height: 450px) and (max-width: 600px) {
    .hero {
        min-height: 525px;
    }
}

@media screen and (max-width: 400px) {
    .hero-menu-wrap {
        -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}

@media screen and (max-height: 525px) {

    .hero {
        min-height: 500px;
    }

    .hero-menu-wrap {
        bottom: 15px;
    }
}